body
{
    background-color: beige; 
    color: brown;
}


       section{
        margin-bottom: 150px;
       }

       
       h2{
        font-size: 2em;
        font-weight: 200;
        font-style: normal;
       }

       h1{
        font-size: 2em;
        font-weight: 200;
        font-style: normal;
       }